@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

//colors

// ### Primary

$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);

// ### Neutral

$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%); ///(with 75% opacity for lightbox background)

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $White;
  display: grid;
  align-items: start;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 'a a' 'b c';
}

.Nav {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  width: 80vw;
  position: relative;

  h1 {
    font-weight: 700;
    font-size: 2em;
  }

  ul {
    list-style-type: none;
    width: 60%;
    display: flex;
    gap: 4%;

    li {
      line-height: 2em;
      position: relative;
      color: $Dark-grayish-blue;

      &:hover {
        cursor: pointer;
        color: $Black;
      }

      &:hover::after {
        display: block;
      }
    }

    li::after {
      position: absolute;
      content: '';
      height: 5px;
      width: 100%;
      background-color: $Orange;
      left: 0;
      bottom: -2.4em;
      display: none;
    }
  }

  .cart {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;

    .cart-img:hover {
      cursor: pointer;
    }

    .cart-img {
      position: relative;

      .cart-area {
        position: absolute;
        width: 24em;
        height: 18em;
        left: calc(0% - 12em);
        top: 3.5em;
        border-radius: 0.3em;
        background-color: $White;
        box-shadow: 0px 6px 15px 13px rgba(0, 0, 0, 0.12);
        z-index: 10;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        h1 {
          font-size: 1em;
          padding-left: 1em;
        }

        .cart-line {
          width: 100%;
        }

        .cart-product {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          margin-inline: auto;

          .cart-p-img {
            width: 4em;
            border-radius: 0.3em;
          }

          .deleteIcon {
            width: 1em;
            height: 1.2em;
          }

          .cart-product-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 4em;

            p {
              color: $Dark-grayish-blue;
            }

            .total {
              font-weight: 700;
              color: $Black;
            }
          }
        }

        .checkout-btn {
          width: 90%;
          height: 4em;
          margin-inline: auto;
          font-size: 1em;
          font-weight: 700;
          border-radius: 0.5em;
          border: none;
          background-color: $Orange;
          color: $White;
          cursor: pointer;
        }
      }
    }

    .profile-img {
      width: 3em;
      img {
        width: 100%;

        &:hover {
          cursor: pointer;
          outline: 2px solid $Orange;
          border-radius: 50%;
        }
      }
    }
  }

  .line {
    position: absolute;
    height: 1px;
    border: none;
    width: 100%;
    bottom: 0;
    background-color: $Grayish-blue;
  }
}

.ImageSlider {
  width: 30em;
  height: 66vh;
  align-self: center;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .display-img {
    width: 100%;
    height: 75%;
    border-radius: 0.5em;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5em;
    }
  }

  .select-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;

    img {
      width: 6em;

      border-radius: 0.4em;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .modal {
    position: absolute;
    width: 34em;
    height: 40em;
    top: calc(50% - 20em);
    left: calc(50% - 18em);
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(100px);

    .close-btn {
      align-self: flex-end;
      cursor: pointer;
    }

    .display-img {
      position: relative;
    }

    .prev,
    .next {
      position: absolute;
      width: 3em;
      height: 3em;
      border: 1px solid red;
      top: calc(50% - 1.5em);
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 50%;
      background-color: $White;

      img {
        width: 1em;
        height: 1.4em;
      }
    }

    .prev {
      left: calc(0% - 1.5em);
    }

    .next {
      right: calc(0% - 1.5em);
    }

    .select-img {
      width: 90%;
    }
  }
}

.active-img {
  outline: 4px solid $Orange;
  opacity: 0.5;
}

.Content {
  width: 30em;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;

  h3 {
    color: $Orange;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.2em;
  }

  h1 {
    color: $Black;
    font-size: 3em;
  }

  p {
    color: $Dark-grayish-blue;
    font-size: 1em;
    line-height: 1.6;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1;

    position: relative;

    &::after {
      content: '50%';
      position: absolute;
      font-size: 0.75em;
      background-color: $Pale-orange;
      color: $Orange;
      line-height: 1.5em;
      width: 2.5em;
      text-align: center;
      border-radius: 0.3em;
      left: 5.5em;
    }
  }

  h4 {
    color: $Dark-grayish-blue;
    text-decoration: line-through;
    position: relative;
    top: -0.8em;
  }

  .content-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;

    .content-counter {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      width: 12em;
      background-color: $Light-grayish-blue;
      border-radius: 0.5em;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 0.5em;
        height: 0.5em;
      }

      .minus {
        height: 0.2em;
      }

      p {
        color: $Black;
        font-weight: 700;
        font-size: 1em;
      }
    }
    button {
      width: 16em;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      border-radius: 0.5em;
      border: none;
      color: $Pale-orange;
      background-color: $Orange;
      font-weight: 700;
      font-size: 1em;

      .btn-img {
        // filter: invert(1) sepia(1) saturate(50) hue-rotate(25deg);
      }

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
